.App {
  text-align: center;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.book-image {
  transition: transform 0.3s ease-in-out;
}

.image-container:hover .book-image {
  transform: scale(1.1);
}
.main-heading {
  background-color: #f3c6c6;
  padding: 10px 20px;
  text-align: center;
}

.container {
  margin-top: 50px;
}
.search-bar-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 1400px;
}
.book-list-container {
  background-color: rgba(109, 214, 243, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 1400px;
}
.book-detail-container {
  background-color: rgba(229, 163, 163, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 1400px;
}

.book-detail-card {
  background-color: rgb(247, 177, 177);
  border: rgb(105, 105, 106) solid 3px;
}

.book-detail-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-detail-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.book-detail-info {
  flex: 1;
}

.close-button {
  width: 100px;
  align-self: flex-end;
}
